{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top:10vh;">

  <!-- begin: input number months to be shown -->
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="form_control_range">For the last <span id="rangeValue"> </span> <span id="time-period">months: </label>
      <input id="form_control_range" type="range" name="rangeInput" value="5" min="5" max="100" onchange="get_savings(this.value);">
    </div>
  </div>
  <!-- end: input number months to be shown -->

 <!-- begin: chart savings-->
  <div class="row" style="margin-top:8vh;">
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  </div>
  <!-- end: chart savings-->

</div>

<script>

function build_data(){
  // default report to be shown to user in get method
  var answer = [];
  var month, year;
  {% for i in savings %}
    month = {{i.month}};
    year = {{i.year}};
    answer.push({y: {{i.value}}, label: ("01/"+ month.toString()+ "/"+ year.toString())});
  {% endfor %}
  return answer;
}

$(document).ready(function(){


  document.getElementById('rangeValue').innerHTML=5;

  var chart = new CanvasJS.Chart("chartContainer", {
  	animationEnabled: true,
  	theme: "light2",
  	title:{
  		text: "Remaining Income Percentage"
  	},
  	axisY: {
  		title: "Savings Value"
  	},
  	data: [{
  		type: "column",
  		showInLegend: false,
  		legendMarkerColor: "grey",
  		dataPoints: build_data()
  	}]
  });
  chart.render(); // build chart

});
function get_savings(months) {
    // called when range input changes
    document.getElementById('rangeValue').innerHTML=months;
    $.ajax({
      type: "GET",
      url: "{% url 'update_savings' %}",
      dataType: "json",
      async: true, // keep front end responsive to user input
      data: {
        months: $("#form_control_range").val(),

      },
      success: function(data) {
        var i = data.indexOf('"fields"', 0);
        var j = data.indexOf('}', i);
        var temp_json, myjson;
        var chartData = [];
        for(; i !=-1;){
            temp_json = data.substring(i + ('"fields: "').length, j+1)
            myjson = JSON.parse(temp_json);
            month = myjson['month'];
            year = myjson[ 'year'];
            chartData.push({y: parseFloat(myjson['value']), label: ("01/"+ month+ "/"+ year)});
            i = data.indexOf('"fields"', i+1);
            j = data.indexOf('}', i);

        }
        var chart2 = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          theme: "light2", // "light1", "light2", "dark1", "dark2"
          title:{
            text: "Remaining Income Percentage"
          },
          axisY: {
            title: "Savings Value"
          },
          data: [{
            type: "column",
            showInLegend: false,
            legendMarkerColor: "grey",
            dataPoints: chartData
          }]
        });
        chart2.render();

      },
      error: function() {
        console.log("error");

      }
    })
}



</script>
{% endblock content %}
